<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Студент</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

<div>
    <h2>Просмотр информации</h2>
    <tr>
        <div align="left">
            <h3><a th:href="@{'/user/home'}">Назад</a></h3>
        </div>

    </tr>

    <div class="col-sm-8" align="center">
        <div class="panel-body" align="center">


            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Отчество</th>
                </tr>
                </thead>
                <tbody>
<!--                <tr th:each="student : ${studentList}">
                    <td th:text="${student.id}">ID</td>
                    <td th:text="${student.FirstName}">First Name</td>
                    <td th:text="${student.LastName}">Last Name</td>
                    <td th:text="${student.Patronymic}">Patronymic</td>
                    <td th:text="${student.dateOfBirth}">Дата рождения</td>
                    <td th:text="${student.id}">Номер группы</td>
                    <td th:text="${student.course}">Курс</td>
                </tr>-->
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>